body {
  background-color: #dbdbdb;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.title h4 {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

.words-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  flex-wrap: wrap;
}

.word {
  margin: 3px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.marked-word {
  margin: 3px;
  background-color: #ff8d8d;
  border-radius: 10px;
  padding: 10px;
}

.file-input {
  margin-top: 20px;
  margin-bottom: 10px;
}
