@font-face {
  font-family: "Cousine";
  src: local("Cousine"), url(./fonts/cousin.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./fonts/Nunito-Regular.ttf) format("truetype");
}

body {
  background: #F5F5F5;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: #3C3C3C;


}

.title-h2 {
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 900;
  text-align: center;
  font-size: 84px;
  font-family: Nunito, serif;
}

.title-h4 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
  font-family: Nunito, serif;
}

.youglish_open {
  width: 500px;
  height: auto;
  position: fixed;
  padding: 5px;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #aba3a3;
}

.youglish_close {
  opacity: 0;
  pointer-events: none;
  width: 500px;
  height: auto;
  position: fixed;
  padding: 5px;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #aba3a3;
}

.close_btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  margin-right: 3px;
}

.modal_container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  pointer-events: none;
  position: fixed;
  height: 100%;
  z-index: 2;

  .ygParent {
    position: fixed;
    pointer-events: initial;
    width: 500px;
    z-index: 1000;
  }
}

.playable {
  cursor: pointer;
  font-size: 0;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  display: inline-block;

  .play {
    height: 0;
    transition: 0.5s ease-in-out;
  }
}

.p-words:hover+.playable {
  display: flex;
  opacity: 100%;

  // padding: 10px 10px 10px 0;
  // margin-left: -5px;
  .play {
    height: 15px;
  }
}

.playable:hover {
  display: flex;
  opacity: 100%;

  // padding: 10px 10px 10px 0;
  .play {
    height: 15px;
  }
}

.words-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 14px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  flex-wrap: wrap;
}

.p-words {
  margin: 0;
  padding: 10px;
}

.word {
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  margin: 4px;
  flex-direction: row;
  cursor: pointer;
}

.marked-word {
  background-color: #ffc3c3;
  border-radius: 10px;
  display: flex;
  margin: 4px;
  cursor: pointer;
  flex-direction: row;
}

.in-list-word {
  background-color: #e4ffce;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
}

.known-word {
  background-color: #d1e9ff;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
}

.file-input {
  margin-top: 20px;
  margin-bottom: 10px;
}

.words-counts {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 10px;
  font-weight: 700;
}

.words-counts p {
  margin: 2px 10px;
  font-size: 16px;
}

.sub-title {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 18px;
}

.red-sub {
  background-color: #ffb3b3;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
}

.green-color {
  background-color: #e4ffce;
}

.blue-color {
  background-color: #d1e9ff;
}

.red-color {
  background-color: #ffb3b3;
}

input[type="file"] {
  display: none;
}

.file-input {
  position: relative;
}

.file-button {
  display: inline-block;
  background-color: #00ffe1;
  border-radius: 10px;
  border: 4px double #00ffe1;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.file-button:hover {
  background-color: #00c7b0;
}

.copy-name {
  margin: 10px;
  text-align: center;
}

.made-with {
  margin: 10px 0 0;
}

.new-set {
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 10px 0 0 0;
}

.add-all-btn {
  border-radius: 10px;
  margin: 2px 10px;
  padding: 5px;
}

.toast {
  background-color: rgb(255, 240, 240);
  border-radius: 10px;
  border-width: 1px;
  max-width: 400px;
  margin: 10px 20px;
  border-color: black;
  border-style: solid;
  padding: 10px;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.icon-row {
  margin-top: 30px;

  .icon-style {
    cursor: pointer;
    height: 50px;
    margin: 0 10px;
  }
}

.donate-row {
  position: fixed;
  bottom: 20px;
  text-align: center;
  display: block;

  img {
    height: 35px;
    margin: 0 10px;
  }
}

.home-icon {
  height: 40px;
  position: absolute;
  left: 5vw;
  top: 3vh;
  cursor: pointer;

}

@media only screen and (max-width: 500px) {
  .ygParent {
    position: fixed;
    max-width: 90%;
    display: none;
    z-index: 1000;
  }
}